#current-time {
	display: block;
	font-weight: bold;
	text-align: center;
	width: 200px;
	padding: 10px;
}

#clock {
	padding: 10px;
	border: 1px solid #000;
	border-radius: 120px;
}

#wrapper {
	width: 200px;
	margin: 0 auto;
}